.dashboard-menu-section{
    background-image: url("../../../assets/images/introbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10% 7%;
}

.dashboard-menus{
    height: 16rem;
    background: #250843;
    border-radius: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-menus div{
    border-radius: 28px;
    width: 9rem;
    height: 9rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.dashboard-menus div>p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
}

.dashboard-menus div>div{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    /* width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8); */
}

.dashboard-menus div .refer-friend-p{
    color: #4B0057;
}

.dashboard-menus>div:first-child, .dashboard-menus>div:nth-child(2), .dashboard-menus>div:nth-child(4){
    background: rgba(110, 16, 155, 0.99);
}

.dashboard-menus>div:nth-child(3){
    background: linear-gradient(84.15deg, #FF9900 -20.78%, #CB037B 100.83%);
}

.dashboard-menus>div:last-child{
    background: #fff;
}